[submodule "blue_archive_showcase"]
	path = blue_archive_showcase
	url = https://github.com/CrashTechnologyOfficer/autoui_blue_archive_showcase
[submodule "show_case_baijing"]
	path = show_case_baijing
	url = https://github.com/CrashTechnologyOfficer/autohelper_baijinghuilang
